# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- Data (Crucial) ---
# ignore the entire data folder because it's local state
data/raw
data/processed
data/external
!**/ .gitkeep

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
*.log

# --- Environment ---
.env